@charset "UTF-8";

/* styles.css */
body {
	background-image: url('../images/4.jpg');
}

.button_box {
	display: flex;
	flex-direction: column;
	justify-content: space-around; 
	align-items: center; 
	background-color: rgba(0, 0, 0, 0.5); 
	width: 110px;
	background-color: transparent;
	border-radius: 10px;
	padding: 10px;
	margin-left: 20px;
	position: absolute;
	top: 400px;
	border: 2px solid #4174d9;
}

.button_box a {
	width: 110px;
	height: 50px;
	color: white;
	background-color: #4174d9;
	text-align: center;
	margin-bottom: 5px; 
	cursor: pointer;
	text-decoration: none;
	line-height: 50px; 
	border: 2px solid #4174d9;
	border-radius: 10px;
}

.button_box a:hover {
	background-color: white;
	color: #4174d9;
}



		*{
			margin:0;
			padding:0;
		}
		.container{
			width: 500px;
			margin: 0 auto;
			padding: 25px
		}
		.container h1{
			text-align: left;
			padding: 5px 5px 5px 15px;
			color: #FFBB00;
			border-left: 3px solid #FFBB00;
			margin-bottom: 20px;
		}
		.chating{
			background-color: rgba(255, 255, 255, 0.3);
			width: 700px;
			height: 600px;
			overflow: auto;
		}
		.chating .me{
			color: #000080;
			text-align: left;
		}
		.chating .others{
			color:black;
			text-align: right;
		}
		input{
			width: 330px;
			height: 25px;
		}
		#yourMsg{
			display: none;
		}
	