body {
	margin: 0;
	padding: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	font-family: "Reddit Mono", monospace;
}

#map {
	width: calc(100% - 10px); /* 좌측 네비게이션 메뉴의 너비만큼 제외한 나머지 영역을 지도가 차지하도록 설정 */
	flex: 1; /* 나머지 너비를 차지하도록 설정 */
	height: 800px; /* 높이는 화면을 꽉 채우도록 설정 */
	float: right; /* 오른쪽으로 정렬합니다. */
	position: relative; /* 부모 요소를 기준으로 배치될 것을 명시합니다. */
}



@keyframes moveRight{
	0%{
	transform: translateX(0);
	opacity: 1;
	}
	35%{
	transform:translateX(calc(100% - -180px));
	opacity: 1;
	}
	40%{
	transform: translateX(calc(100% - -180px));
	opacity: 0;}
	100%
	{transform: translateX(0);
	opacity: 0;
	}
}
