/* 기본 스타일 초기화 */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #87CEEB, #ADD8E6);
  position: relative;
  min-height: 100vh;
}

/* 제목 스타일 */
h2 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Lato', sans-serif;
  font-size: 32px;
  font-weight: 700;
}

/* 게시물 검색창 스타일 */
.post-container {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}

#searchInput, #searchType {
  height: 45px;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 16px;
  flex: 1;
  font-family: 'Open Sans', sans-serif;
}

#searchInput::placeholder {
  color: #999;
  font-style: italic;
}

#searchInput:focus, #searchType:focus {
  background: rgba(255, 255, 255, 1);
  outline: none;
}

button.user-background-color {
  height: 40px;
  width: 70px;
  padding: 0 20px;
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s, transform 0.3s;
  background-color: #4174d9;
  margin-top:10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
}
button.user-background-color:hover {
  background-color: #375bb0;
  transform: translateY(-2px);
}

button.user-background-color:focus {
  outline: none;
}



#mt_hashtag {
  padding: 8px 16px;
  background-color: #4174d9;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s;
  font-family: 'Roboto', sans-serif;
}

#mt_hashtag:hover {
  background-color: #3366cc;
}

/* 사이드바 스타일 */
.sidebar {
  display: flex;
  flex-direction: column;
  width: 150px;
  height:150px;
  margin: 20px;
  background-color: #F0FFFF;
  border-radius: 20px;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

.sidebar ul li a:hover {
  color: #4174d9;
}

/* 게시글 스타일 */
.instagram-post {
  width: 100%;
  max-width: 600px; /* 폼 너비 줄이기 */
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  padding: 20px;
  align-items: center;
}

.profile {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.profile img {
  width: 40px;  /* 프로필 이미지 크기 조정 */
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile p {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.username {
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.post-content {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.post-content p {
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
}

.user-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 10px;
  font-family: 'Roboto', sans-serif;
}

.user-cont {
  font-size: 16px;
  margin: 0 0 10px;
  font-family: 'Open Sans', sans-serif;
}

.user-updatedate {
  font-style: italic;
  color: #888;
  font-family: 'Open Sans', sans-serif;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 10px;
  width: 100%;
}

.image-grid img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.instagram-post .interactions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.instagram-post .interactions .like-button,
.instagram-post .interactions .comment-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #333;
  font-weight: bold;
  transition: color 0.3s;
  font-family: 'Roboto', sans-serif;
}

.instagram-post .interactions .like-button:hover,
.instagram-post .interactions .comment-button:hover {
  color: #4174d9;
}

.toggle-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #4174d9;
  color: white;
  font-size: 14px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'Roboto', sans-serif;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button:hover {
  background-color: #3366cc;
}

.options {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  list-style-type: none;
  padding: 0;
  top: 50px;
  right: 0;
  border-radius: 5px;
}

.options li {
  padding: 8px 12px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

.options li:hover {
  background-color: #ddd;
}

.comment-section {
  width: 100%;
  background: #f9f9f9;
  padding: 10px;
  border-radius: 10px;
  max-height: 300px; /* 최대 높이 설정 */
  overflow-y: auto; /* 스크롤 추가 */
  font-family: 'Open Sans', sans-serif;
}

.commentForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px; /* 추가 마진 */
}

.commentForm .commentText {
  width: 80%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-family: 'Open Sans', sans-serif;
}

.commentForm button {
  padding: 10px 20px;
  border: none;
  background-color: #4174d9;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'Roboto', sans-serif;
}

.commentForm button:hover {
  background-color: #375bb0;
}

.comment-list {
  margin-top: 10px;
  display: flex;
  flex-direction: column; /* 최신 댓글이 아래로 오도록 설정 */
}

.comment-item {
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
}

.hashtag {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.hashtag-item {
  background: #f0f0f0;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination a {
  color: #007bff;
  text-decoration: none;
  padding: 8px 16px;
  margin: 0 5px;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-family: 'Roboto', sans-serif;
}

.pagination a:hover {
  background-color: #007bff;
  color: #fff;
}

.pagination .active {
  background-color: #007bff;
  color: #fff;
}

/* heart.ui */
#btn-like>i {
    font-size: 25px;
}

.bi-heart-fill,.bi-heart {
     color: red;
}
