.posts{
	width: 1400px;
	height: 620px;
	background-color: rgba(0, 0, 0, 0); /* 0%의 투명도 */
	border-top: 3px solid #4174d9; /* 윗부분 선의 두께와 색상 설정 */
    border-bottom: 3px solid #4174d9; /* 아래쪽 선의 두께와 색상 설정 */
    overflow: auto; /* 스크롤이 필요한 경우에만 스크롤이 표시되도록 설정 */
    display: grid;
    grid-template-columns: repeat(3, calc(33.33% - 20px));
    /* 가로 방향으로 최대 3개씩 정렬 */
	grid-auto-rows: minmax(calc(50% - 20px), auto);
	/* 세로 방향으로 최대 2개씩 정렬 */
	gap: 20px;
	padding: 10px; /* 내부 간격 설정 */
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
}

p{
	margin: 0;
}

.posts::-webkit-scrollbar {
     width: 10px;
}

.posts::-webkit-scrollbar-thumb {
     background-color: rgba(255, 255, 255, 0.5);
}

.posts::-webkit-scrollbar-thumb:hover{
	background-color: white;
}

.post{
	border-right: 3px solid #4174d9;
	border-bottom: 3px solid #4174d9; 
    padding: 0px;
    box-sizing: border-box;
    border-radius: 15px;
    position: relative;
}

#my_trip_p{
    font-size: 20px;
    font-weight: bold;
    margin-left: 900px;
    margin-top: -400px;
    color: black;
}

.dates {
    text-align: right; /* 날짜들을 오른쪽 정렬 */
    margin-top: 10px; /* 위쪽 여백 설정 */
    margin-right: 15px;
}

.city-list {
    display: flex; 
    flex-wrap: wrap; 
}

.nationalName {
    padding: 10px; 
    box-sizing: border-box; 
    width:220px;
}

.cityNames{
	margin-left: 240px;
	margin-top: -165px;
}

.cityImage{
	border-radius: 10px;
}